.section {
    
    .section-header {
        height: 35px;
        background-color: #f1f7f4;
        font-size: 16px;
        color: #00a250;
        display: flex;
        align-items: center;
        padding-left: 15px;
        border-bottom: 2px solid #e7eae9;
    }

    .section-body {
        display: grid;
        padding: 0 5px 25px 5px;
        border-bottom: 2px solid #e7eae9;
    }
}