.section {
    
    .section-header {
        height: 35px;
        background-color: #f1f7f4;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        color: #00a250;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-bottom: 2px solid #e7eae9;
    }

}