@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dashboard {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#21657c), to(#156770));
  background: linear-gradient(#21657c, #156770);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.form {
  width: 710px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px #222;
          box-shadow: 1px 1px 5px #222;
  position: relative;
}

.form :after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 90%);
  width: 100%;
  height: 20px;
}

.form .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #e7eae9;
}

.form .form-header li {
  font-size: 16px;
  color: #00a250;
}

.form .form-header #cancel-button {
  margin-left: 20px;
  margin-right: auto;
  color: #f9507c;
  cursor: pointer;
}

.form .form-header #form-name {
  font-size: 18px;
  font-weight: bold;
}

.form .form-header #save-button {
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
}

.form .form-body {
  max-height: 465px;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.form .form-body::-webkit-scrollbar {
  display: none;
}

.section .section-header {
  height: 35px;
  background-color: #f1f7f4;
  font-size: 16px;
  color: #00a250;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border-bottom: 2px solid #e7eae9;
}

.section .section-body {
  display: -ms-grid;
  display: grid;
  padding: 0 5px 25px 5px;
  border-bottom: 2px solid #e7eae9;
}

.input {
  padding: 15px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #999;
}

.input input, .input select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.input .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input .dropdown select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 10px;
  border-radius: 5px 0 0 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1px 35px 1px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../images/Chevron.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 10px 5px;
}

.input .dropdown input {
  width: 80px;
  border-radius: 0 5px 5px 0;
  padding-left: 15px;
}

.input .search {
  padding-right: 40px;
  background: transparent;
  background-image: url("../images/Search.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 15px 15px;
}

.input .date {
  padding-right: 40px;
  background: transparent;
  background-image: url("../images/Calendar.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 15px 15px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
/*# sourceMappingURL=main.css.map */